.login {
  text-align: center;
}

.login__input {
  display: block;
  margin: 1rem auto;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login__input::placeholder {
  color: #aaa;
}

.login_container {
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.login__button {
  display: block;
  margin: 1rem auto;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Development_button {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 300px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
  cursor: pointer;
  text-decoration: none; 
}

.Development_button:hover {
  background: linear-gradient(90deg, #2575fc, #6a11cb); 
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.Development_button:active {
  transform: translateY(0); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.developers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.developer {
  text-align: center;
  margin: 10px;
}

.developer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px solid lawngreen;
}
